
*.pyc

assignment_1/code/cifar10/cifar-10-batches-py/

*.pt

assignment_1/Report/

assignment_1/code/\.ipynb_checkpoints/

assignment_3/code/model_MNIST/

assignment_3/code/images_MNIST/

assignment_3/code/images/

assignment_3/code/first trial \(resets \+ random init\)/

assignment_3/code/data/

assignment_3/code/\.idea/

assignment_3/code/venv/

assignment_3/code/VAE_VAE_20/

assignment_3/code/VAE_test/

assignment_3/code/VAE_KL/

assignment_3/code/VAE_2d/

assignment_3/code/samples_VAE_20/

assignment_3/code/samples_test/

assignment_3/code/samples_KL/

assignment_3/code/samples_2d/

assignment_3/code/samples_20/

assignment_3/code/nf2/

assignment_3/code/nf1/

assignment_3/code/nf/

assignment_3/code/model05/

assignment_3/code/local trial/

assignment_3/code/GAN trials/

assignment_3/code/\.ipynb_checkpoints/

assignment_2/part1/\.ipynb_checkpoints/

*.zip

*.npy

assignment_2/part2/Shakespeare/

assignment_2/part2/Machado/

assignment_2/part2/Dumas/
